.hidden {
    display: none;
}

html {
    background-color: black;
}

#title {
	position: relative;
	top: 20px;
	width:600px;
	margin: 0px auto;
	text-align: center;
    color: cyan;
    font-size: 3.5em;
    font-family: Oswald, sans-serif;
}

header {
	position: relative;
	top: 20px;
	width:600px;
	margin: 0px auto;
	text-align: center;
    font-family: Oswald, sans-serif;
}

header h1 {
	font-size: 2.25em;
    letter-spacing: 3px;
	margin: 10px 0;
    color: magenta;
    font-family: Oswald, sans-serif;
}

.beat-block {
	padding: 10px;
	cursor: pointer;
    margin-right: 20px;
}

.beat-blocks {
    display: inline;
    width: 20%;
    margin-top: 150px;
    margin-left: 350px;
	height: 450px;
	color: inherit;
	overflow: hidden;
}

.beat-blocks, .mix-board {
    display: inline-block;
}

.mix-board {
    width:600px; 
    height: 450px;
    background-color: rgb(32, 32, 32);
}
